<div class="table table-striped">
 
   <table class="table" dir-paginate="article in articles | orderBy: 'createdAt':true | filter:{title: query} | itemsPerPage: 2">
     <thead>
       <tr>
        <th>
           <a href="#/article/{{article._id}}"><p><h3>{{article.title}}</h3> </p> </a>
        </th>
      </tr>
     </thead>
     <tbody>
          <tr>
          <td>
            <blockquote>
              
               <p> <div ng-bind-html="article.data | cut:true:400: ' ... '  | toTrusted "></div> <a href="#/article/{{article._id}}"> (see more)</a> </p> 

            </blockquote>
          </td>
       </tr>
       <tr>
          <td>
            <small>by <cite>{{article.by}}</cite></small> <p class="pull-right">{{article.createdAt | date:"MM/dd/yyyy 'at' h:mma"}} </p>
         </td>
       </tr>
     </tbody>
  </table>
</div>    

<div ng-controller="OtherController" class="other-controller">
      
   <div class="text-center">
       <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
  
</div>

 

